# Сбор данных из интернета

В библиотеке pandas есть функция `read_html()`, которая делает запрос к странице, находит в HTML-разметке теги `<table>`, преобразовывает эти данные в датафреймы и возвращает список таблиц.

In [1]:
import pandas as pd
df = pd.read_html('https://ru.wikipedia.org/wiki/%D0%A6%D0%95%D0%A0%D0%9D')

In [2]:
len(df)

12

In [6]:
df[0] # подставьте индексы от 0 до 11, увидите все таблицы, которые были на странице

,Европейская организация по ядерным исследованиям (CERN),Европейская организация по ядерным исследованиям (CERN).1
0,фр. Conseil Européen pour la Recherche Nucléai...,фр. Conseil Européen pour la Recherche Nucléai...
1,NaN,NaN
2,NaN,NaN
3,Международное название,англ. European Organization for Nuclear Research
4,Год основания,29 сентября 1954[1]
5,Директор,Фабиола Джианотти
6,Научные сотрудники,Около 2.5 тыс. постоянных сотрудников [2]; по ...
7,Расположение,Швейцария / Франция
8,Юридический адрес,"Мейран (Швейцария), Женева (кантон), Швейцария"
9,Сайт,home.cern
10,Награды,Золотая медаль Нильса Бора (2013)
11,Медиафайлы на Викискладе,Медиафайлы на Викискладе

Если мы знаем, что ищем, среди всех таблиц на странице, то можем использовать аргумент `match`. Обратите внимание, что даже если на странице всего одна таблица, функция `read_html` вернет ее как список из одного элемента, поэтому в конце обязательно использовать индекс `[0]`.

In [7]:
pd.read_html('https://ru.wikipedia.org/wiki/%D0%A6%D0%95%D0%A0%D0%9D', match='пожертвование')[0]

   Государство-член пожертвование  млн. CHF  млн. EUR
0          Германия       19,88 %      2186      1440
1           Франция       15,34 %      1687      1112
2    Великобритания       14,70 %      1616      1065
3            Италия       11,51 %      1265       834
4           Испания        8,52 %       937       618
5        Нидерланды        4,79 %       527       347
6         Швейцария        3,01 %       331       218
7            Польша        2,85 %       314       207
8           Бельгия        2,77 %       304       201
9            Швеция        2,76 %       304       200
10         Норвегия        2,53 %       278       183
11          Австрия        2,24 %       247       163
12           Греция        1,96 %       205       135
13            Дания        1,76 %       194       128
14        Финляндия        1,55 %       170       112
15            Чехия        1,15 %       127        84
16       Португалия        1,14 %       125        82
17          Венгрия        0,78 %        86        56
18         Словакия        0,54 %        59        39
19         Болгария        0,22 %        24        16

## Задание

Скачайте все таблицы с сайта: https://sportmail.ru/football-rus-premier/328/schedule/

Сколько там таблиц?

In [ ]:
# ваш код

Нужно сохранить все таблицы в одну переменную. Для этого нам пригодится `pd.concat()`

In [ ]:
# ваш код

In [64]:
help(pd.concat)

Help on function concat in module pandas.core.reshape.concat:

concat(objs: 'Iterable[Series | DataFrame] | Mapping[HashableT, Series | DataFrame]', *, axis: 'Axis' = 0, join: 'str' = 'outer', ignore_index: 'bool' = False, keys: 'Iterable[Hashable] | None' = None, levels=None, names: 'list[HashableT] | None' = None, verify_integrity: 'bool' = False, sort: 'bool' = False, copy: 'bool | None' = None) -> 'DataFrame | Series'
    Concatenate pandas objects along a particular axis.

    Allows optional set logic along the other axes.

    Can also add a layer of hierarchical indexing on the concatenation axis,
    which may be useful if the labels are the same (or overlapping) on
    the passed axis number.

    Parameters
    ----------
    objs : a sequence or mapping of Series or DataFrame objects
        If a mapping is passed, the sorted keys will be used as the `keys`
        argument, unless it is passed, in which case the values will be
        selected (see below). Any None objects will be dropped silently unless
        they are all None in which case a ValueError will be raised.
    axis : {0/'index', 1/'columns'}, default 0
        The axis to concatenate along.
    join : {'inner', 'outer'}, default 'outer'
        How to handle indexes on other axis (or axes).
    ignore_index : bool, default False
        If True, do not use the index values along the concatenation axis. The
        resulting axis will be labeled 0, ..., n - 1. This is useful if you are
        concatenating objects where the concatenation axis does not have
        meaningful indexing information. Note the index values on the other
        axes are still respected in the join.
    keys : sequence, default None
        If multiple levels passed, should contain tuples. Construct
        hierarchical index using the passed keys as the outermost level.
    levels : list of sequences, default None
        Specific levels (unique values) to use for constructing a
        MultiIndex. Otherwise they will be inferred from the keys.
    names : list, default None
        Names for the levels in the resulting hierarchical index.
    verify_integrity : bool, default False
        Check whether the new concatenated axis contains duplicates. This can
        be very expensive relative to the actual data concatenation.
    sort : bool, default False
        Sort non-concatenation axis if it is not already aligned. One exception to
        this is when the non-concatentation axis is a DatetimeIndex and join='outer'
        and the axis is not already aligned. In that case, the non-concatenation
        axis is always sorted lexicographically.
    copy : bool, default True
        If False, do not copy data unnecessarily.

    Returns
    -------
    object, type of objs
        When concatenating all ``Series`` along the index (axis=0), a
        ``Series`` is returned. When ``objs`` contains at least one
        ``DataFrame``, a ``DataFrame`` is returned. When concatenating along
        the columns (axis=1), a ``DataFrame`` is returned.

    See Also
    --------
    DataFrame.join : Join DataFrames using indexes.
    DataFrame.merge : Merge DataFrames by indexes or columns.

    Notes
    -----
    The keys, levels, and names arguments are all optional.

    A walkthrough of how this method fits in with other tools for combining
    pandas objects can be found `here
    <https://pandas.pydata.org/pandas-docs/stable/user_guide/merging.html>`__.

    It is not recommended to build DataFrames by adding single rows in a
    for loop. Build a list of rows and make a DataFrame in a single concat.

    Examples
    --------
    Combine two ``Series``.

    >>> s1 = pd.Series(['a', 'b'])
    >>> s2 = pd.Series(['c', 'd'])
    >>> pd.concat([s1, s2])
    0    a
    1    b
    0    c
    1    d
    dtype: object

    Clear the existing index and reset it in the result
    by setting the ``ignore_index`` option to ``True``.

    >>> pd.concat([s1, s2], ignore_index=True)
    0    a
    1    b
    2    c
    3    d
    dtype: object

    Add a hierarchical index at the outermost level of
    the data with the ``keys`` option.

    >>> pd.concat([s1, s2], keys=['s1', 's2'])
    s1  0    a
        1    b
    s2  0    c
        1    d
    dtype: object

    Label the index keys you create with the ``names`` option.

    >>> pd.concat([s1, s2], keys=['s1', 's2'],
    ...           names=['Series name', 'Row ID'])
    Series name  Row ID
    s1           0         a
                 1         b
    s2           0         c
                 1         d
    dtype: object

    Combine two ``DataFrame`` objects with identical columns.

    >>> df1 = pd.DataFrame([['a', 1], ['b', 2]],
    ...                    columns=['letter', 'number'])
    >>> df1
      letter  number
    0      a       1
    1      b       2
    >>> df2 = pd.DataFrame([['c', 3], ['d', 4]],
    ...                    columns=['letter', 'number'])
    >>> df2
      letter  number
    0      c       3
    1      d       4
    >>> pd.concat([df1, df2])
      letter  number
    0      a       1
    1      b       2
    0      c       3
    1      d       4

    Combine ``DataFrame`` objects with overlapping columns
    and return everything. Columns outside the intersection will
    be filled with ``NaN`` values.

    >>> df3 = pd.DataFrame([['c', 3, 'cat'], ['d', 4, 'dog']],
    ...                    columns=['letter', 'number', 'animal'])
    >>> df3
      letter  number animal
    0      c       3    cat
    1      d       4    dog
    >>> pd.concat([df1, df3], sort=False)
      letter  number animal
    0      a       1    NaN
    1      b       2    NaN
    0      c       3    cat
    1      d       4    dog

    Combine ``DataFrame`` objects with overlapping columns
    and return only those that are shared by passing ``inner`` to
    the ``join`` keyword argument.

    >>> pd.concat([df1, df3], join="inner")
      letter  number
    0      a       1
    1      b       2
    0      c       3
    1      d       4

    Combine ``DataFrame`` objects horizontally along the x axis by
    passing in ``axis=1``.

    >>> df4 = pd.DataFrame([['bird', 'polly'], ['monkey', 'george']],
    ...                    columns=['animal', 'name'])
    >>> pd.concat([df1, df4], axis=1)
      letter  number  animal    name
    0      a       1    bird   polly
    1      b       2  monkey  george

    Prevent the result from including duplicate index values with the
    ``verify_integrity`` option.

    >>> df5 = pd.DataFrame([1], index=['a'])
    >>> df5
       0
    a  1
    >>> df6 = pd.DataFrame([2], index=['a'])
    >>> df6
       0
    a  2
    >>> pd.concat([df5, df6], verify_integrity=True)
    Traceback (most recent call last):
        ...
    ValueError: Indexes have overlapping values: ['a']

    Append a single row to the end of a ``DataFrame`` object.

    >>> df7 = pd.DataFrame({'a': 1, 'b': 2}, index=[0])
    >>> df7
        a   b
    0   1   2
    >>> new_row = pd.Series({'a': 3, 'b': 4})
    >>> new_row
    a    3
    b    4
    dtype: int64
    >>> pd.concat([df7, new_row.to_frame().T], ignore_index=True)
        a   b
    0   1   2
    1   3   4

Посчитайте общее количество забитых голов у каждой команды. 

ПОДСКАЗКА
1. Сделайте `reset_index(drop=True, inplace=True)`
2. Удалите все строки, в которых еще не указан счет (игры пройдут позже)
3. Удалите ненужные столбцы

In [ ]:
# ваш код

В полученном датафрейме нужно вытащить все значения, разделить команды и голы по разделителям, сохранить их как два списка. Далее на основе полученных данных сделать новый датафрейм с этими столбцами.

In [ ]:
# ваш код

Сделайте группирующую таблицу по количеству голов для каждой команды.

In [ ]:
# ваш код

### Задача со звездочкой

Определите, в какие дни недели чаще всего проходят матчи. Вам понадобится тип данных [datetime](https://pandas.pydata.org/docs/reference/api/pandas.to_datetime.html).

In [ ]:
# ваш код

### Задача с двумя звездочками

На странице https://sportmail.ru/football-rus-premier/328/schedule/ есть выпадающее меню с разными сезонами. Как скачать все таблицы за все сезоны?

In [ ]:
# ваш код