Центр непрерывного образования

# Программа «Python для автоматизации и анализа данных»

# Списки (list)

Список — это упорядоченный набор объектов, хранящихся в одной переменной. В отличие от массивов в других языках, у списков нет никаких ограничений на тип переменных, поэтому в них могут храниться разные объекты, в том числе и другие коллекции.

### Создание списков

Давайте для начала попробуем создать список из 3 студентов.

In [100]:
students = ['Ivan Ivanov', 'Tatiana Sidorova', 'Maria Smirnova']
print(students)
print(type(students))

['Ivan Ivanov', 'Tatiana Sidorova', 'Maria Smirnova']
<class 'list'>

Пустой список можно создать двумя способами - оператором `[]` и функцией `list()`.

In [101]:
a = []

In [103]:
a = list()
a

[]

Список может содержать любые данные - например, числа.  
Давайте создадим список оценок студента.

In [104]:
notes = [6, 5, 7, 5, 8]
print(notes)

[6, 5, 7, 5, 8]

Список может быть даже смешанным. Например, давайте сохраним в одном списке имя студента, его год рождения, средний балл, и логическую переменную, которая будет равна True, если студент учится на бюджете.

In [105]:
student1 = ['Ivan Ivanov', 1987, 7.5, True]
print(student1)

['Ivan Ivanov', 1987, 7.5, True]

Список может даже содержать другие списки.  
Давайте создадим еще одного студента по аналогии со student1 и положим этих двух студентов в еще один список.

In [106]:
student2 = ['Maria Smirnova', 1991, 7.9, False]
students = [student1, student2]
print(students)

[['Ivan Ivanov', 1987, 7.5, True], ['Maria Smirnova', 1991, 7.9, False]]

### Срезы списков

Элементы списков нумеруются, начиная с 0. Мы можем получить доступ к элементу списка по его индексу.

In [109]:
students = ['Ivan Ivanov', 'Tatiana Sidorova', 'Maria Smirnova']
print(students[0]) # первый элемент
print(students[1]) # второй элемент
print(students[-2]) # предпоследний элемент

Ivan Ivanov
Tatiana Sidorova
Tatiana Sidorova

Ксати, индексация работает и в строках. Там отдельными элементами являются символы.

In [110]:
x = 'слово'
print(x[0])
print(x[-1])

с
о

Мы можем узнать длину списка с помощью функции len() (работает и для строк).

In [111]:
a = [3,3,3,3,3]

In [112]:
len(a)

5

In [113]:
print(len(students)) # количество элементов в списке students
print(len(x)) # количество символов в строке x

3
5

Но, в отличие от строк, список можно изменить.

In [114]:
students = ['Ivan Ivanov', 'Tatiana Sidorova', 'Maria Smirnova']
students

['Ivan Ivanov', 'Tatiana Sidorova', 'Maria Smirnova']

In [115]:
students[0] = 'Daria Kasyanenko'
students

['Daria Kasyanenko', 'Tatiana Sidorova', 'Maria Smirnova']

In [116]:
string = 'ololololol'
string[1] = 'a'

TypeError: 'str' object does not support item assignment

Строки - неизменяемый тип данных, поэтому присвоение символа по индексу не сработает.

Еще одна операция, которая работает со всеми последовательностями - проверка на наличие элемента `in` и `not in`. Возвращает `True` или `False`.

In [117]:
n = [1,2,3,4]
x = 500
x in n

False

In [118]:
'a' in 'ajfjsk'

True

Способ расширить список - метод `.append()`, который добавляет аргумент в список в качестве последнего элемента.

In [119]:
lst = [0, 1, 2, 3, 4, 'cat', 'dog','cat']

lst.append(5)
print(lst)

lst += [6] # эквивалентное append выражение
print(lst)

[0, 1, 2, 3, 4, 'cat', 'dog', 'cat', 5]
[0, 1, 2, 3, 4, 'cat', 'dog', 'cat', 5, 6]

Удалить элемент из списка можно с помощью метода `.remove()` (без возвращения удаленного элемента) или `.pop` (с возвращением удаленного элемента).

In [120]:
lst.remove('cat') # аргумент - объект, который ходим удалить
print(lst)

[0, 1, 2, 3, 4, 'dog', 'cat', 5, 6]

In [121]:
x = lst.pop(0) # аргумент - индекс объекта. Результат операции можно сохранить в переменную
print(lst)
print(x)

[1, 2, 3, 4, 'dog', 'cat', 5, 6]
0

Поиском в списках занимается метод `.index()`, который вернет индекс объекта, переданного в качестве аргумента.

In [122]:
lst.append('dog')

In [123]:
lst

[1, 2, 3, 4, 'dog', 'cat', 5, 6, 'dog']

In [124]:
print(lst.index('dog'))

4

In [125]:
# находим индекс объекта 'dog'
print(lst[lst.index('dog')]) # используем метод, возвращающий индекс, для обращения к объекту

dog

Если говорить еще о полезных методах, то это `.count()`, который подсчитывает количество элементов и `.reverse()`, который разворачивает список. Ниже еще отдельно поговорим о сортировке.

In [126]:
# считаем количество 'dog' в списке
print(lst.count('dog'))

2

In [135]:
b = [1,2,3,4,5]
b.reverse()
b

[5, 4, 3, 2, 1]

In [136]:
b.reverse()
b

[1, 2, 3, 4, 5]

In [140]:
lst.reverse() # разворачиваем список. Осторожно - метод меняет список!
print(lst)

['dog', 6, 5, 'cat', 'dog', 4, 3, 2, 1]

In [141]:
lst[0]

'dog'

Все методы списков [здесь](https://docs.python.org/3/tutorial/datastructures.html)

### Сортировки

Отдельно следует рассказать про метод `.sort()`. Метод производит сортировку списка.
Задачи сортировки очень распространены в программировании. 
В общем случае, они сводятся к выстроению элементов списка в заданном порядке.
В Python есть встроенные методы для сортировки объектов для того, чтобы программист 
мог не усложнять себе задачу написанием алгоритма сортировки. 
Метод `list.sort()` - как раз, один из таких случаев.

In [159]:
test_list = [5, 8, 1, 4, 3, 7, 2]
print(test_list)  # Элементы списка расположены в хаотичном порядке
test_list.sort()
print(test_list)  # Теперь элементы списка теперь расположены по возрастанию

[5, 8, 1, 4, 3, 7, 2]
[1, 2, 3, 4, 5, 7, 8]

In [160]:
test_list.sort(reverse = True)

In [161]:
test_list

[8, 7, 5, 4, 3, 2, 1]

Таким образом, метод `list.sort()` упорядочил элементы списка test_list.
Если нужно отсортировать элементы в обратном порядке, то можно использовать именнованный параметр reverse.

In [162]:
test_list.sort(reverse=True)  # параметр reverse указывает на то, что нужно отсортировать список в обратном порядке
print(test_list)

[8, 7, 5, 4, 3, 2, 1]

Следует обратить внимание, что метод `list.sort()` изменяет сам список, на котором его вызвали. 
Таким образом, при каждом вызове метода `.sort()`, наш список test_list изменяется. 
Это может быть удобно, если нам не нужно держать в памяти исходный список. 
Однако, в противном случае, или же в случае неизменяемого типа данных (например, кортежа или строки) 
этот метод не сработает. В таком случае, на помощь приходит встроенная в питон функция `sorted()`

In [163]:
print(sorted(test_list))  # Сам список при сортировке не изменяется

[1, 2, 3, 4, 5, 7, 8]

In [164]:
test_list

[8, 7, 5, 4, 3, 2, 1]

Так как `sorted()` функция, а не метод, то будет работать и с другими типами данных.

In [165]:
print(sorted('something'))

['e', 'g', 'h', 'i', 'm', 'n', 'o', 's', 't']

In [166]:
# print(sorted('something')) отсортирует буквы в строке, но выведет список
print(''.join(sorted('something'))) # с помощью метода join можно собрать отсортированную строку, чуть ниже подробнее про него

eghimnost

У функции `sorted()`, как и у метода `list.sort()` есть параметр `key`, 
с помощью которого можно указать функцию, которая будет применена к каждому элементу 
последовательности при сортировке.

In [1]:
test_string = 'A string With upper AND lower cases'

In [2]:
print(sorted(test_string.split())) # заглавные буквы получили приоритет над строчными

['A', 'AND', 'With', 'cases', 'lower', 'string', 'upper']

In [4]:
print(sorted(test_string.split(), key=str.upper)) # все буквы были приведены к верхнему регистру, сортировка получилась по алфавиту

['A', 'AND', 'cases', 'lower', 'string', 'upper', 'With']

# Кортежи (tuple)

Кортежи очень похожи на списки.

In [176]:
student = ('Ivan Ivanov', 2001, 7.5, True)
print(student)
print(type(student))

('Ivan Ivanov', 2001, 7.5, True)
<class 'tuple'>

Пустой кортеж можно создать с помощью оператора `()` либо функции `tuple()`.

In [5]:
tpl = ()
tpl

()

In [178]:
x = tuple()
x

()

In [7]:
student = ('Ivan Ivanov', 2001, 7.5, True)
student

('Ivan Ivanov', 2001, 7.5, True)

Основное отличие кортежей от списков состоит в том, что кортежи нельзя изменять (да-да, прямо как строки).

In [180]:
student[1] = 2002

TypeError: 'tuple' object does not support item assignment

Списки и кортежи могут быть вложены друг в друга.  
Например, пусть в информации о студенте у нас будет храниться не его средний балл, а список всех его оценок.

In [181]:
student = ('Ivan Ivanov', 2001, [8, 7, 7, 9, 6], True)
print(student)

('Ivan Ivanov', 2001, [8, 7, 7, 9, 6], True)

In [182]:
student = ('Ivan Ivanov', 2001, (8, 7, 7, 9, 6), True)
print(student)

('Ivan Ivanov', 2001, (8, 7, 7, 9, 6), True)

Мы можем обратиться к элементу вложенного списка или кортежа с помощью двойной индексации.

In [187]:
print(student[2][3]) # получили вторую оценку

9

Иногда бывает полезно обезопасить себя от изменений массивов данных и использовать кортежи, но чаще всего мы все-таки будем работать со списками.

# Опасность работы с изменяемыми типами данных

В работе со списками есть важный момент, на который нужно обращать внимание. Давайте рассмотрим такой код:

In [188]:
a = [1, 2, 3]

In [189]:
b = a

In [190]:
b[0] = 4

In [191]:
print(a)
print(b)

[4, 2, 3]
[4, 2, 3]

Почему так происходит?  
Дело в том, что переменная a ссылается на место в памяти, где хранится список [1, 2, 3]. И когда мы пишем, что b = a, b начинает указывать на то же самое место. То есть образуется два имени для одного и того же кусочка данных. И после изменения этого кусочка через переменную b, значение переменной a тоже меняется!

Как это исправить? Нужно создать копию списка a! В этом нам поможет метод .copy()

In [192]:
a = [1, 2, 3]
b = a.copy() # теперь переменная b указывает на другой список, который хранится в другом кусочке памяти
b[0] = 4
print(a, b)

[1, 2, 3] [4, 2, 3]

Копию можно создавать и с помощью пустого среза

In [195]:
a = [1, 2, 3]
b = a[:] # по умолчанию берется срез от первого элемента до последнего, то есть копируется весь список a
b[0] = 4
print(a, b)

[1, 2, 3] [4, 2, 3]

In [196]:
a = [1, 2, 3]

Но не путайте изменение с присваиванием!

In [1]:
a = [1, 2, 3]

In [2]:
b = a

In [3]:
a = [4,5,6]

In [4]:
print(a)

[4, 5, 6]

In [5]:
print(b)

[1, 2, 3]

В примере выше переменная `a` была не изменена, а перезаписана, она начала указывать на другой список, хранящийся в другом месте памяти, поэтому переменная `b` осталась не тронута.

### Конкатенация списков и кортежей

На списках и кортежах определен оператор `+`. По аналогии со строками, он будет склеивать две части выражения.

Но складывать можно только данные одного типа, список с кортежом склеить нельзя.

In [202]:
print([1, 2] + [3, 4])
print((1, 2) + (3, 4))

[1, 2, 3, 4]
(1, 2, 3, 4)

In [203]:
[1,2] *2

[1, 2, 1, 2]

In [204]:
print((1, 2) + [3, 4]) # а так нельзя

TypeError: can only concatenate tuple (not "list") to tuple

Но можно превратить список в кортеж, а потом сложить (или наоборот).

In [205]:
print(list((1, 2)) + [3, 4])
print((1, 2) + tuple([3, 4]))

[1, 2, 3, 4]
(1, 2, 3, 4)

In [206]:
x = tuple()
x

()

# Методы .split(), .join(),  функция map(), вывод и ввод списков

При работе со списками довольно часто нам придется вводить их и выводить в отформатированном виде. Сейчас мы рассмотрим несколько методов, которые помогут сделать это в одну строку.

### Метод `.split()`

Метод строки `.split()` получает на вход строку-разделитель и возвращает список строк, разбитый по этому разделителю.

По умолчанию метод разбивает строку по пробелу

In [207]:
print('Hello darkness my old friend     !#$@%$^#         bhfdsajklfgdsajk'.split())

['Hello', 'darkness', 'my', 'old', 'friend', '!#$@%$^#', 'bhfdsajklfgdsajk']

In [216]:
print('Ночь. Улица. Фонарь. Аптека'.split('. '))

['Ночь', 'Улица', 'Фонарь', 'Аптека']

In [8]:
a = 's F Б д ! & 7 2'

In [9]:
a_lst = a.split()
a_lst

['s', 'F', 'Б', 'д', '!', '&', '7', '2']

In [10]:
print(sorted(a_lst))

['!', '&', '2', '7', 'F', 's', 'Б', 'д']

### Метод `.join()`

Метод `.join()` ведет себя с точностью до наоборот - он склеивает массив в строку, вставляя между элементами строку-разделитель.

In [211]:
print('-'.join(['8', '800', '555', '35', '35']))

8-800-555-35-35

### Функция `.map()`

Функция `.map()` берет функцию и последовательность и применяет эту функцию ко всем ее элементам (`.map()` всегда будет ожидать от вас два аргумента).

Обратите внимание, чтобы увидеть результат работы этой функции надо дополнительно вручную преобразовать в список (или в кортеж, в зависимости от ваших целей).

In [220]:
print(map(bool, [9, 0, 8, -288, 998, 0])) # не совсем то, что надо

print(list(map(bool, [9, 0, 8, -288, 998, 0]))) # а теперь работает, каждое число преобразовалось в логическую переменную

<map object at 0x7fd1a00d2790>
[True, False, True, True, True, False]

### Ввод и вывод списков

Теперь мы можем быстро вводить и выводить списки, содержащие разные данные через разные разделители.

In [221]:
phone = list(map(int, input().split()))
# получаем строку, разбиваем по пробелу, сразу преобразуем все элементы в числа
print(phone)

print('-'.join(list(map(str, phone)))) 
# преобразуем массив чисел в массив строк и склеиваем через дефис

8 800 123 45 67
[8, 800, 123, 45, 67]
8-800-123-45-67

In [223]:
phone = input()

8 800 123 45 67

In [225]:
phone

'8 800 123 45 67'

In [228]:
phone = list(map(int, phone.split()))

In [233]:
'-'.join(list(map(str, phone)))

'8-800-123-45-67'

Также, если нет задачи сохранить результат в переменную в виде строки, вместо `.join()` можно использовать распаковку. 
Мы ставим оператор `*` перед списком, и, например, функция `print()` будет воспринимать его не как список, а как последовательность объектов.

In [222]:
print(phone, sep='-') # не работает, получили список
print(*phone, sep='-') # теперь сработало. По сути, распакованный список питон видит как в примере ниже
print(phone[0], phone[1], phone[2], phone[3], phone[4], sep='-')

[8, 800, 123, 45, 67]
8-800-123-45-67
8-800-123-45-67